##################################################
# API Keys
##################################################
# You can register on these sites to get free API keys with limited usage

# https://openrouter.ai 
# nvidia/nemotron-3-nano-30b-a3b:free , qwen/qwen3-next-80b-a3b-instruct:free , z-ai/glm-4.5-air:free , qwen/qwen3-coder:free , meta-llama/llama-3.1-405b-instruct:free , deepseek/deepseek-r1-0528:free
# Limits  20R/M, 50 R/D or 1000 R/D if account balance >10$
OPENROUTER_API_KEY="123"

# https://console.groq.com/keys
GROQ_API_KEY="123"

CEREBRAS_API_KEY="123"

MODALGLM5_API_KEY="123"

GLM_API_KEY="123"

##################################################
# Display
##################################################

DISPLAY_WIDTH=1920
DISPLAY_HEIGHT=1080
DISPLAY_DEPTH=24

##################################################
# Runtime
##################################################

OPENCLAW_PERSISTENT=true
MY_SECRET_TOKEN=Topsecret

##################################################
# Optional
##################################################

OPENCLAW_ARGS=
HOST_UID=1001
HOST_GID=1001
